<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/home">ACME Veterinaria ;)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="ManejoClientes" >Manejo Clientes<i class="material-icons">perm_identity</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ManejoProductos">Manejo Productos<i class="material-icons">business_center</i></a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="Reportes">Reportes<i class="material-icons">assessment</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Ventas">Ventas<i class="material-icons">attach_money</i></a>
        </li>
      <!--   <li class="nav-item">
          <a class="nav-link" href="Login">Login(Momentaneo)</a>
        </li>
        
        <li   class="nav-item">
          <a class="nav-link" href="CrearUsuarios">CrearUsuarios(Momentaneo)</a>
        </li> -->
        <li  *ngIf="mostrarCrearU" class="nav-item">
          <a class="nav-link" href="Usuarios">Empleados</a>
        </li>
       <!--  <li class="nav-item">
          <a class="nav-link" href="Usuarios_crud">Agregar Empleado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Productos_crud">Agregar Producto</a>
        </li> -->
        <li class="espacio">
          
        </li>
        <li class="nav-item">
            <button class="btn btn-danger" (click)="logout()">Logout</button>      
          <!-- <a class="nav-link" href="Productos_crud">Agregar Producto</a> -->
        </li>
        

        
      </ul>
    </div>
  </nav>