<nav class="navbar navbar-expand-lg" style="background: hsl(209, 58%, 38%); text-align: center;">
    <a class="navbar-brand" href="/home"><img src="assets\Imagenes\logo.png" width="100px" height="50px" style="margin-top: -15px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-center">
        <li class="nav-item">
          <a class="nav-link" href="ManejoClientes" >Manejo Clientes<br><i class="material-icons">perm_identity</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ManejoProductos">Manejo Productos<br><i class="material-icons">business_center</i></a>
        </li>
        <li *ngIf="mostrarCrearU" class="nav-item"> 
          <a class="nav-link" href="Reportes">Reportes<br><i class="material-icons">assessment</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Ventas">Ventas<br><i class="material-icons">attach_money</i></a>
        </li>

        <li  *ngIf="mostrarCrearU" class="nav-item">
          <a class="nav-link" href="Usuarios">Empleados<br><i class="material-icons">perm_identity</i></a>
        </li>
      </ul>
    </div>
    <div class="position-absolute top-50 end-0 translate-middle-y">
          <button class="btn btn-danger" style="height: auto; width: auto; font-size: smaller;" (click)="logout()">Cerrar Sesión</button> 
      </div>
  </nav>