<app-nav-bar></app-nav-bar>
<div class="fixed-bottom">
    <button type="button" class="btn btn-dark">Dark</button>
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">producto ID</span>
    <div class="xd">
        <input type="text" class="form-control" placeholder="Ingrese el código aqui" aria-label="producto ID" aria-describedby="basic-addon1">
    </div>
</div>
<div class="bottom">
    <button type="button" class="btn btn-dark">Añadir</button>
</div>
<br>    
<div class="form-floating">
    <table class="table"> 
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
          </div>
<br> 
    <div class="texto2">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
<br>    
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">cliente ID</span>
    <div class="xd">
        <input type="text" class="form-control" placeholder="Ingrese el código aqui" aria-label="producto ID" aria-describedby="basic-addon1">
    </div>
    </div>
</body>

