body{    
    width: 200 px;
    font-family: 'Varela Round', sans-serif;
	font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.form-floating{
    width: 500px;
}
.texto2{
    margin-left: 600px;
    margin-top: -249px;
}   
.xd{
    width: 392px;
}
.xd2{
    width: 49px;
}
.xd3{
    width: 10px;
}

.btn-group{
    margin-left: 1100px;
    margin-top: -120px;

}
.btn-group2{
    margin-left: 1100px;
    margin-top: -105px;
}
p{
    margin-left: 720px;
    margin-top: -50px;
    font-size: 20px;
    color: red;
    font-style: bold;
    font-family: monospace;
}