<app-nav-bar></app-nav-bar>

  

  
        <div class="p-4 mb-4 bg-auto text-dark">
            <div class="shadow-lg p-4 mb-2 bg-body rounded">
                <div  class="mx-auto" style="width: 200px;">
                    <span class="badge rounded-pill bg-black">REPORTES</span>
                </div>
            </div>
        </div>
       
        <select class="form-select" aria-label="Disabled select example" width="50px" (change)="obtenerClienteMayor($event)">
            <option [value]="0" >ELIJA SU REPORTE</option>
            <option [value]="1">Mejor cliente</option>
            <option [value]="2">Producto más vendidos</option>
            <option [value]="3">Ventas en rango de fechas</option>
        </select> 

        <div class="div">
        <p>Fecha Inicial</p>
        <input type="date" #FechaInicial>
        <p>Fecha Final</p>
        <input type="date" #FechaFinal>
        <div class="div"></div>
        <button (click)="reporte3(FechaInicial.value,FechaFinal.value)">Run</button>
        
        </div>

         <div id="icon1">
            <i class="fas fa-chart-bar"></i>
         </div>
        
     
        
        

 
