<app-nav-bar></app-nav-bar>
<body>
    

    <br>
    <br>
    <br>
    
    <div class="table-title" style="margin-left: 220px; width: 890px; height: 80px;">
        <div class="row">
            <div class="col-xs-6">
                <h2 style="font-size: 20px;">REPORTES<b></b></h2>
            </div>
        </div>
    </div>
        <select class="form-select" aria-label="Disabled select example" style="background: hsl(209, 58%, 38%); color: white; margin-left: 250px;" width="280px" (change)="obtenerClienteMayor($event)">
            <option [value]="0" >ELIJA SU REPORTE</option>
            <option [value]="1">Mejor cliente</option>
            <option [value]="2">Producto más vendidos</option>
            <option [value]="3">Ventas en rango de fechas</option>
        </select>
        <table *ngIf="opcion1" style="width: 400px; color: white; background: hsl(209, 58%, 38%);
        height: 100px; margin-left: 532px; margin-top: -40px;" class="table table-striped table-hover"> 
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Email</th>
                    <th>Dirección</th>
                    <th>Telefono</th>
                    <th>Compras</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{mejorCliente.Nombre}}</td>
                    <td>{{mejorCliente.Cedula}}</td>
                    <td>{{mejorCliente.Email}}</td>
                    <td>{{mejorCliente.Direccion}}</td>
                    <td>{{mejorCliente.Telefono}}</td>
                    <td>{{mejorCliente.Compras}}</td>
                </tr>
            </tbody>
        </table>
        <table *ngIf="opcion2" style="width: 400px; color: white; background: hsl(209, 58%, 38%);
        height: 100px; margin-left: 532px; margin-top: -40px;" class="table table-striped table-hover"> 
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of VectorFR3; index as i">

                    <td>{{item.Fecha}}</td>
                    <td>Cristianooooo</td>
                    <td>Ronaldoooooooo</td>
                    <td>{{item.monto}}</td>
                  
                </tr>
            </tbody>
        </table>
        <div  class="div">
            <div *ngIf="opcion3" class="div">
                <p>Fecha Inicial</p>
                <input type="date" #FechaInicial>
                <p>Fecha Final</p>
                <input type="date" #FechaFinal>
                <div class="div"></div>
                <button (click)="reporte3(FechaInicial.value,FechaFinal.value)">Run</button>
                
                </div>    
                <table *ngIf="opcion4" style="width: 400px; color: white; background: hsl(209, 58%, 38%);
                height: 100px; margin-left: 532px; margin-top: -40px;" class="table table-striped table-hover"> 
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Cedula</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of VectorFR3; index as i">
        
                            <td>{{item.Fecha}}</td>
                            <td>{{item.Nombre}}</td>
                            <td>{{item.Cedula}}</td>
                            <td>{{item.monto}}</td>
                          
                        </tr>
                    </tbody>
                </table>
        </div>
         <div id="icon1">
            <i class="fas fa-chart-bar"></i>
         </div>
</body>
